<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <title>Auto Complete</title>
  <!-- versão de produção, otimizada para tamanho e velocidade -->
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
</head>
<body>
  <div id="app-2">
    {{ message }}
  </div>

  <div id="app">
    <div class="form-group">
      <label>Buscar por: </label>
      <auto-complete :data="people" field="name"></auto-complete>    
    </div>
  </div>

  <script>

  // import axios from 'axios'
  // import VueAxios from 'vue-axios'
      
  // Vue.use(VueAxios, axios)
     
  Vue.config.productionTip = false
//{ 'has-error': hasError}
  Vue.component('auto-complete', {
    template: `
      <div class="auto-complete">
         <input :class="" type="text" v-model="input" @keydown.tab.prevent="complete()" @focus="focus(true)" @blur="focus(false)">
         <table v-if="focused">
            <tbody>
                <tr v-for="(person, i) in data" v-if="filter(person)" @mousedown="complete(i)">
                    <td>{{ person[field] }}</td>
                </tr>
            </tbody>
         </table>
      </div>
    `,
    
    props: {
        value: { type: String, required: false},
        data:  { type: Array, required: true},
        field: { type: String, required: true}
    },
    
    methods: {
         complete(i) {
             if (i == undefined) {
                 for (let row of this.data) {
                    if (this.filter(row)) {
                      this.select(row)
                      return
                    }
                 }
             }
             
             
             this.select(this.data[i])
         },
         
         select(row) {
            this.input = row[this.field]
            this.selected = true
            app2.message = row[this.field]
            this.$http.post('http://localhost:3000/persons', {params: {event: 'bar'}}).then(function (response) {
                    // currentObj.output = response.data;
                    console.log(response);
                })
                .catch(function (error) {
                    // currentObj.output = error;
                    console.log(error);
                });
         },
         
         filter(row) {
            return row[this.field].toLowerCase().indexOf(this.input.toLowerCase()) != -1
         },
         
         focus(f) {
            this.focused = f
         }
    },
    
    data() {
         return {
             input: '',
             focused: false
         }
    },

    created() {
         this.input = this.value || '';
         this.$http.get('http://localhost:3000/', {params: {event: 'open'}}).then(function (response) {
                    // currentObj.output = response.data;
                    console.log(response);
                })
                .catch(function (error) {
                    // currentObj.output = error;
                    console.log(error);
                });
    }
  })

  var app1 = new Vue({
    el: "#app",
    
    data: {
      people: [],
    },
    
    created() {
      // fetch('https://www.swapi.co/api/people')
      // console.log(fetch('http://localhost:3000/eventos').then(data => data.json()));
      fetch('http://localhost:3000/eventos')
      .then(data => data.json())
      .then(json => this.people = json.results);

      // console.log(this.events);
    }
  })


  var app2 = new Vue({
    el: '#app-2',
    data: {
      message: 'Auto Complete'
    }
  });

  /*console.log(fetch('http://localhost:3000')
  .then(data => data.json()));*/

  </script>

<style type="text/css">
  #app {
    padding: 25px;
    background: #EFEFEF;
    color: #555;
    font-family: helvetica;
  }

  .form-group {
    margin-bottom: 10px
  }

  input {
    height: 20px;
    border-radius: 3px;
    border: 2px solid #888;
    padding: 5px 10px;
    transition: all 0.5s ease-out 0s;
    width: 200px;
  }

  input:focus {
    outline: none;
    border-color: #2196F3;
    border-radius: 0px;
  }

  .auto-complete input.has-error {
    border-color: #F44336;
  }

  .auto-complete table {
    position: absolute;
    width: 224px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    border: 2px solid #888;
    border-top: 0px;
    cursor: pointer;
  }

  .auto-complete table tr {
    background: white;
  }

  .auto-complete table tr td {
    padding: 10px
  }

  .auto-complete table tr:nth-child(even) {
    background: #EEE;
  }

  .auto-complete table tr:hover {
    background: #2196F3;
    color: white;
  }
</style>
</body>
</html>
